header {
    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 0;
    }
        nav{
            #logo {
                position: absolute;
                bottom: 10px;
                left: 10px;
                height: 80px;
                width: 80px;
                background-image: url(../img/logo.svg);
                background-size: 80px;
                background-repeat: no-repeat;
                font-size: 0;
              }
              .navbar-collapse {
                display: flex!important;
                justify-content: center!important;
                align-items: center!important;
            }

            }
     }