                    /* FOOTER */
footer {
        background-color: #1e1e1e;
            .footer-item {
                color: white;
                        }
                    .footer-cherno{
                        color: #585858;
                                }
        }
                    
                    /* PRINCIPAL BUTTON */
.reservation-button{
                    color: white;
                    background-color:#c63b3b;
                    }
                    
                                        /* HEADER */
header {
        h1{
        color: red;
        background-color: #212529;
                        }
        }